<a ui-sref="settings">settings</a>
<div class="reward">
  <div>
    <img ng-show="currentIndex === 0" class="animated wobble" ng-src="images/egg{{currentIndex}}.png"/>
    <img ng-show="currentIndex === 1" class="animated wobble" ng-src="images/egg{{currentIndex}}.png"/>
    <img ng-show="currentIndex === 2" class="animated wobble" ng-src="images/egg{{currentIndex}}.png"/>
    <img ng-show="currentIndex === 3" class="animated wobble" ng-src="images/egg{{currentIndex}}.png"/>
  </div>
    <img ng-show="countWins === 1 || countWins === 2 || countWins === 3" ng-src="images/pinkChick.png"/>
    <img ng-show="countWins === 3 || countWins === 2" ng-src="images/greenChick.png"/>
    <img ng-show="countWins === 3" ng-src="images/purpleChick.png"/>
  </div>

<div class="prompt">
  <div ng-repeat = "question in questionArray">
    <span><img class="promptPic" src="images/{{question}}.png" alt="ask for" /></span>
  </div>
</div>
<div class="chainUrl">
  <span ng-repeat="result in resultLink"><img class="chainPic" ng-src="images/{{result}}.png"/></span>
</div>
<div class="options">
<div ng-repeat="option in optionsArray" ng-click="clicked(option)">
  <span><img class="promptPic" src="images/{{option}}.png" alt="option" /></span>
</div>
</div>
<button ng-show="currentIndex === expectedResult.length" ng-click="playAgain()">Play Again?</button>
