<div class="logoDiv">
  <div ng-init="level=1">
      <label><input type="radio" ng-model="level" value="1" ng-change="levelChange(level)" checked="checked">1</label>
      <label><input type="radio" ng-model="level" value="2" ng-change="levelChange(level)">2 </label>
      <label><input type="radio" ng-model="level" value="3" ng-change="levelChange(level)">3 </label>
      <label><input type="radio" ng-model="level" value="4" ng-change="levelChange(level)">4 </label>
      <label><input type="radio" ng-model="level" value="5" ng-change="levelChange(level)">5 </label>
  </div>
  <img class="logo" src="images/fabulari_t1.png" alt="logo" />
  <div class="nav">
    <!-- <a ui-sref="settings">settings</a> -->
    <a ui-sref="basket"> <img class="barn" src="images/barn.png" alt="barn" /></a>
  </div>
</div>
<div class="wrapper">
  <div class="viewer">
      <div class="prompt animated slideInLeft">
        <div ng-repeat = "question in questionArray">
          <span><img class="promptPic" ng-src="images/{{question.name}}.png" alt="ask for" /></span>
        </div>
      </div>
      <div class="chainUrl">
        <span ng-repeat="result in resultLink"><img class="chainPic" ng-src="images/{{result.name}}.png"/></span>
      </div>
      <div class="options animated slideInRight">
        <div ng-repeat="option in optionsArray" ng-class="{ 'animated wobble error' : option.wobble === true }" ng-click="clicked(option)">
          <span><img class="promptPic" ng-src="images/{{option.name}}.png" alt="option" /></span>
        </div>
      </div>
      <div class="again">
        <button class="round-button animated pulse infinite" ng-if="expectedResult.length === resultLink.length" ng-click="playAgain()">Play Again?</button>
      </div>
    </div>
  </div>
